
<h1>Your Cart</h1>

<div *ngIf="cartEmpty">
        <p>your cart is empty :(</p>
</div>


<div *ngFor="let product of products"> 
    <h3>{{ product.name }}</h3>
    <img src="{{ product.url }}" alt="Image of {{ product.name }}" width="100px" [routerLink]="['/product-details', product.id]"/>
    <p>${{ product.price }}</p>

    <input type="number" value="{{ cartOrder.products.get(product) }}" id="amtFor{{ product.id }}" (change)="updateTotalPrice()">
    <h2>Subtotal: ${{ this.subtotal }} </h2>
    <h2>Estimated Tax: ${{ this.tax }} </h2>
    <h2>Shipping: $5.00</h2>
    <h2>Total: ${{ this.total }}</h2>
</div>


<div>
    <h1>Check Out</h1>
    <form>
        <label>Name:</label> <br>
        <input type="text" placeholder=""> <br>
        <label>Shipping Address:</label> <br>
        <input type="text" placeholder=""> <br>
        <label>Credit Card Number</label> <br>
        <input type="text" placeholder=""> <br>
        <p>We will never share your info with anyone.</p> <br>
        <input type="submit" value="Confirm and Place Order"> <br>
    </form>
</div>
