

.container {
    padding-top: 2em;
}


.col-6 {
    padding-left: 5em;
    padding-top: 3em;
}

img {
    border-radius: 1.5em;
}

select {
    width: 5em;
    padding: 0.4rem;
}

button {
    padding: 0.4rem;
    width: 7rem;
    margin-top: 2em;
    margin-bottom: 7em;
}