<div class="container">
        
    <div class="card">
        <img src="{{ product.url }}" class="card-img-top" alt="Image of {{ product.name }}" width="100px" [routerLink]="['/product-details', product.id]"/>
        <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <p>${{ product.price }}</p>   

            <div class="row">
                <select class="col-5 cart-mod" id="amtFor{{ product.id }}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <div class="col-md-auto">
                  </div>
                <button class="btn btn-primary btn-sm col-5" (click)="addToCart()">Add to Cart</button>
            </div>
        </div>

    </div>
</div>